@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap");

@font-face {
  font-family: "quentin";
  src: url("./fonts/quentin-webfont.woff") format("woff");
}

@font-face {
  font-family: "sansation";
  src: url("./fonts/sansation_light-webfont.woff") format("woff");
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.carousel::-webkit-scrollbar {
  display: none;
}

body {
  background: url(./media/noise.svg);
  background-color: #f4f3f3;
  background-attachment: fixed;
  overflow-x: hidden;
}

main {
  margin: 0 auto;
}

h1 {
  font-family: "Almarai", sans-serif;
  font-size: 6.5rem;
}

h2 {
  font-family: "Almarai", sans-serif;
  font-size: 32px;
  font-weight: 600;
}

h3 {
  font-family: "Almarai", sans-serif;
  font-size: 28px;
  font-weight: 600;
}

p {
  font-family: "Quicksand", sans-serif;
  line-height: 1.7;
  font-size: 1.1rem;
}

header span {
  color: #902b2b;
  font-size: 5.4rem;
}

a {
  font-family: "Quicksand", sans-serif;
  font-size: 35px;
  text-decoration: none;
  box-shadow: inset 0 0 0 0 #902b2b;
  color: #000000;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
a:hover {
  box-shadow: inset 360px 0 0 0 #902b2b;
  color: white;
}

#portfolio a:hover {
  box-shadow: none;
}

#desktop_nav ul {
  padding-top: 10px;
  display: grid;
  gap: 30px;
}

#desktop_nav li {
  list-style: none;
}

header {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

#mobile_nav {
  display: none;
}
/******CAROUSEL**********/

.carousel-wrapper {
  margin: 0 auto;
  display: flex;
  padding-block: 40px;
  justify-content: space-between;
  gap: 0.5em;
  width: 90%;
}

.carousel {
  padding-bottom: 30px;
  width: 100vw;
  height: 100%;
  position: relative;
  overflow-y: hidden;
  display: flex;
  gap: 1em;
  scrollbar-width: none;
}

.arrows {
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  cursor: pointer;
  transition: all 0.1s ease;
  padding: 0;
  pointer-events: all;
}

.left-arrow {
  background-color: #f4f4f483;
  border-radius: 50%;
  position: absolute;
  z-index: 100;
  margin-left: 5px;
}

.right-arrow {
  background-color: #f4f4f483;
  border-radius: 50%;
  position: absolute;
  z-index: 100;
  right: 5%;
  margin-right: 5px;
}

.arrows svg {
  fill: #902b2b;
}

#mobil_grafik {
  display: none;
}

.arrow-inactive {
  opacity: 0.5;
  cursor: auto;
  display: none;
}

.carousel-item {
  position: relative;
  z-index: 2;
}

.portfolio_container h3 {
  transition: ease-out 2s;
  display: none;
}

.portfolio_container:hover .carousel-item {
  filter: brightness(70%);
  transition: ease-in 0.4s;
}

.portfolio_container:hover h3 {
  color: black;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  gap: 10px;
  font-weight: 500;
  font-size: 20px;
  width: 600px;
  z-index: 1;
  -webkit-animation: fade-in-top 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-top 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

/**********FUNKE************/

#funke {
  width: 600px;
  height: 350px;
  background-size: cover;
  background-image: url(./media/funke.drink.webp);
}

.funke_gif {
  width: 600px;
}

/***********m!***********/

#m {
  width: 600px;
  height: 350px;
  background-image: url(./media/m!app.gif);
  background-size: cover;
}

/***************NB*****************/

#nb {
  background-color: #902b2b;
  width: 600px;
  height: 350px;
  display: grid;
  margin: 0 auto;
  place-items: center;
}

.blomst {
  width: auto;
  height: 200px;
  -webkit-animation: rotate-center 10s linear infinite both;
  animation: rotate-center 10s linear infinite both;
}

/***********GRAFIK**************/

#grafik {
  width: 400px;
  height: 350px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  padding-inline: 40px;
  place-items: center;
}

.kasse_1,
.kasse_2,
.kasse_3,
.kasse_4 {
  height: 150px;
  width: 150px;
}

.kasse_2,
.kasse_4 {
  transform: rotate(180deg);
}

/*******ABOUT*************/

.about {
  max-width: 1000px;
  justify-content: center;
  padding-top: 80px;
  display: flex;
  gap: 100px;
  margin: 0 auto;
}

hr {
  color: #902b2b;
}

.about img {
  max-height: 500px;
  width: auto;
}

.about_text {
  display: grid;
  max-width: 400px;
}

.skills {
  margin-block: 100px;
  background-color: #902b2b;
  padding-block: 100px;
  display: grid;
  place-items: center;
}

.mobile_divider {
  display: none;
}

.icon_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 40px;
}

.ikon_item {
  text-align: center;
  color: white;
}

.skills h2 {
  color: white;
}

.skills_container {
  display: grid;
  gap: 50px;
  max-width: 1300px;
}
/**************FOOTER**************************/

footer {
  display: grid;
  place-items: center;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 50px;
}

footer h2 {
  display: flex;
  align-items: center;
}

footer p {
  text-align: center;
  padding-block: 20px;
  margin-inline: 20px;
}

footer svg {
  margin-left: 5px;
}

.kontakt_knapper {
  display: flex;
  gap: 40px;
  padding-top: 10px;
  padding-bottom: 60px;
}

.knap {
  font-weight: 500;
  display: flex;
  align-items: center;
  color: #902b2b;
  padding: 10px;
  border: solid 3px #902b2b;
  font-size: 20px;
  width: 300px;
  height: 60px;
  justify-content: center;
}

.knap svg {
  fill: #902b2b;
  padding-right: 5px;
}

.knap:hover svg {
  fill: white;
}

/*******************ANIMATION KEYFRAMES*************************/

/* ----------------------------------------------
 * Generated by Animista on 2022-12-11 11:9:0
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2022-12-11 19:59:1
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-top
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 1300px) {
  /**********MOBILE_NAV*****************/
  #menu {
    z-index: 2;
  }

  #menu-bar {
    width: 25px;
    height: 30px;
    margin: 30px 20px 00px 20px;
    cursor: pointer;
  }

  .bar {
    height: 5px;
    width: 100%;
    background-color: #902b2b;
    display: block;
    transition: 0.3s ease;
    outline: 0.2px solid #f4f3f37c;
  }

  #bar1 {
    transform: translateY(-4px);
  }

  #bar3 {
    transform: translateY(4px);
  }

  .nav {
    transition: 0.3s ease;
    display: none;
  }

  .nav ul {
    position: absolute;
    right: 30px;
    padding: 0 22px;
    text-align: center;
  }

  .nav li {
    list-style: none;
    padding: 12px 0;
  }

  .nav li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
  }

  .nav li a:hover {
    font-weight: bold;
  }

  .menu-bg,
  #menu {
    top: 0;
    right: 0;
    position: fixed;
  }

  .menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 20px 00px 20px;
    background: url(./media/noise.svg);
    background-color: #902b2b;
    border-radius: 50%;
    transition: 0.3s linear;
  }

  .change {
    display: block;
  }

  .change .bar {
    background-color: white;
  }

  .change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
  }

  .change #bar2 {
    opacity: 0;
  }

  .change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
  }

  .change-bg {
    width: 520px;
    height: 460px;
    transform: translate(60%, -30%);
  }
  /***********************************/

  #mobile_nav {
    display: block;
    z-index: 200;
  }

  body {
    max-width: 100vw;
  }
  h1 {
    font-size: 1.7rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  p {
    font-size: 1rem;
  }

  footer p {
    font-size: 0.9rem;
    padding-block: 5px;
  }

  #grafik {
    display: none;
  }

  header span {
    font-size: 1.4rem;
  }

  header {
    padding-top: 60px;
    display: flex;
    justify-content: center;

    max-width: 90%;
  }

  .mobile_divider {
    text-align: center;
    width: 80%;
  }

  #desktop_nav {
    display: none;
  }

  .carousel {
    width: 100vw;
    height: 450px;
    gap: 10px;
  }

  .carousel-wrapper {
    padding-block: 15px;
  }

  .portfolio_container:hover .carousel-item {
    filter: brightness(100%);
  }

  #funke {
    width: 100%;
    height: 450px;
    background-size: cover;
    background-position: right;
    background-image: url(./media/funke.drink.webp);
  }

  .funke_gif {
    display: flex;
    justify-content: center;
    max-width: 90vw;
    align-items: center;
    justify-content: center;
  }

  #m {
    height: 450px;
    width: 90vw;
    background-position: center;
    background-size: cover;
  }

  #nb {
    height: 450px;
    width: 90vw;
    display: grid;
    place-items: center;
  }

  .blomst {
    width: 90vw;
  }

  .arrow-inactive {
    cursor: auto;
    display: block;
  }

  .right-arrow,
  .left-arrow {
    background-color: #f4f4f400;
  }

  .arrows svg {
    fill: #ffffff;
  }
}

@media (max-width: 1100px) {
  .about {
    padding-top: 10px;
    display: grid;
    gap: 20px;
    place-items: center;
    padding-inline: 20px;
  }

  .carousel {
    gap: 0px;
  }

  .about img {
    width: 90%;
  }

  hr {
    display: none;
  }

  .mobile_divider {
    display: block;
    width: 100%;
    margin-bottom: 40px;
  }

  .about_text {
    display: grid;
    max-width: 400px;
  }

  .skills_container {
    text-align: center;
  }

  .icon_container {
    gap: 8px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .ikon_item {
    padding-block: 10px;
  }

  #kontatk {
    margin-inline: 20px;
  }

  .kontakt_knapper {
    display: grid;
  }

  .knap {
    font-size: 16px;
    width: 250px;
  }
}
