* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@400&display=swap");

img {
  display: block;
  width: 100%;
  height: auto;
}

nav {
  padding-inline: 20px;
  padding-block: 20px;
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  gap: 40px;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
  font-family: "Rajdhani", sans-serif;
  color: black;
  font-size: 1.3rem;
}

.corner {
  font-family: quentin;
  font-size: 2rem;
}

body {
  background: url(https://grainy-gradients.vercel.app/noise.svg);
  background-color: #fffbf1;
}

h1 {
  font-family: quentin;
  font-size: 60px;
  font-weight: 100;
}

h2 {
  font-family: "Rajdhani", sans-serif;
  font-size: 50px;
}

h3 {
  font-family: "Rajdhani", sans-serif;
  font-size: 32px;
}

h4 {
  font-family: "Rajdhani", sans-serif;
  font-size: 24px;
  font-weight: 300;
}

p {
  font-size: 17px;
  font-family: "sansation";
}

@font-face {
  font-family: "quentin";
  src: url("./fonts/quentin-webfont.woff") format("woff");
}

@font-face {
  font-family: "sansation";
  src: url("./fonts/sansation_light-webfont.woff") format("woff");
}

.hero {
  height: 85vh;
  display: grid;
  place-items: center;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
}

.grafik {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  max-width: 600px;
}

.kasse_4,
.kasse_7,
.kasse_3,
.kasse_8 {
  transform: rotate(180deg);
}

.side_header {
  transform: rotate(90deg);
  position: fixed;
  left: -12%;
  top: 47%;
}

.span_2 {
  margin-inline: 20px;
}

span {
  color: #902b2b;
  padding-right: 7px;
}

.breaker {
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  place-items: center;
  align-items: center;
  height: 300px;
  margin-top: 100px;
}

.right_column p {
  width: 250px;
}

hr {
  transform: rotate(90deg);
  width: 150px;
  color: #902b2b;
}

.heartbeat {
  background-image: url(./media/down_arrow.svg);
  width: 50px;
  height: 50px;
  -webkit-animation: heartbeat 5s ease-in-out infinite both;
  animation: heartbeat 5s ease-in-out infinite both;
}

#portfolio {
  display: grid;
  place-items: center;
  margin-top: 100px;
}

.funke {
  background-image: url(./media/louis-hansel-cC0_UO1Obg4-unsplash-2.jpg);
  background-size: cover;
  width: 800px;
  height: 500px;
}

.m {
  width: 800px;
  height: 500px;
}

.nb {
  padding: 100px;
  width: 800px;
  height: 500px;
  background-color: #902b2b;
  display: grid;
  place-items: center;
}

.blomst {
  width: auto;
  height: 200px;
  -webkit-animation: rotate-center 10s linear infinite both;
  animation: rotate-center 10s linear infinite both;
}

.knap {
  border: #902b2b solid 3px;
  padding: 10px;
  color: #902b2b;
  background-color: none;
  font-family: "Rajdhani", sans-serif;
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
}

.knap:hover {
  background-color: #902b2b;
  color: white;
}

.sektion {
  margin-block: 40px;
}

.see_more {
  display: flex;
  padding-block: 50px;
  justify-content: center;
  text-align: center;
}

.left {
  display: grid;
  place-content: center;
  border-bottom: solid 3px #902b2b;
  border-right: solid 3px #902b2b;
  height: 100px;
  width: 200px;
}

.right {
  display: grid;
  place-content: center;
  border-top: solid 3px #902b2b;
  height: 100px;
  width: 200px;
}

/*******************ANIMATION KEYFRAMES*************************/
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-12-8 13:31:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    transform-origin: center;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    transform-origin: center;
  }
}
