@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@800&display=swap");

@font-face {
  font-family: "quentin";
  src: url("./fonts/quentin-webfont.woff") format("woff");
}

@font-face {
  font-family: "sansation";
  src: url("./fonts/sansation_light-webfont.woff") format("woff");
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  background: url(./media/noise.svg);
  background-color: #f4f4f4;
}

h1 {
  font-family: "Almarai", sans-serif;
  font-size: 110px;
}

h2 {
  font-family: Rajdhani, sans-serif;
  font-size: 32px;
}

h3 {
  font-family: Rajdhani, sans-serif;
  font-size: 24px;
}

p {
  font-family: sansation, sans-serif;
  line-height: 1.7;
}

span {
  color: #902b2b;
  font-size: 93px;
}

a {
  font-family: Rajdhani, sans-serif;
  font-size: 30px;
  height: fit-content;
  text-decoration: none;
  box-shadow: inset 0 0 0 0 #902b2b;
  color: #000000;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
a:hover {
  box-shadow: inset 360px 0 0 0 #902b2b;
  color: white;
}

ul {
  display: grid;
  gap: 35px;
  padding-top: 15px;
}

li {
  list-style: none;
}

header {
  padding-top: 30px;
  display: flex;
  align-items: center;
  place-content: center;
  margin: 0 auto;
}

main {
  margin: 0 auto;
  max-width: 1500px;
}

#portfolio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  place-items: center;
  padding-top: 75px;
  max-width: 1300px;
  gap: 50px;
}

.funke {
  display: grid;
  place-items: center;
  background-image: url(./media/Group\ 34.png);
  background-size: cover;
  background-position: center;
  width: 600px;
  height: 350px;
}

.funke:hover {
  width: 600px;
  height: 350px;
  background-image: url(./media/FunkeLogo.gif);
}

.grafik {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

.kasse_3,
.kasse_4,
.kasse_7,
.kasse_8 {
  transform: rotate(180deg);
}

.static {
  width: 400px;
  height: auto;
}

.m {
  width: 600px;
  height: 350px;
  background-size: cover;
  background-image: url(./media/m!app.static.png);
}

.m:hover {
  width: 600px;
  height: 350px;
  background-size: cover;
  background-image: url(./media/m!app.gif);
}

.nb {
  padding: 70px;
  background-color: #902b2b;
  display: grid;
  place-items: center;
  width: 600px;
  height: 350px;
}

.nb:hover {
  cursor: pointer;
  width: 600px;
  height: 350px;
  padding: 00px;
  background-color: #902b2b;
  display: grid;
  place-items: center;
}

.blomst {
  width: auto;
  height: 200px;
}

.blomst:hover {
  -webkit-animation: rotate-center 10s linear infinite both;
  animation: rotate-center 10s linear infinite both;
  width: auto;
  height: 200px;
}

footer {
  display: grid;
  place-items: center;
  margin: 0 auto;
  padding-top: 80px;
}

footer h2 {
  display: flex;
  align-items: center;
}

footer p {
  text-align: center;
  padding-block: 20px;
}

footer svg {
  margin-left: 5px;
}

.kontakt_knapper {
  display: flex;
  gap: 40px;
  padding-block: 50px;
}

.knap {
  display: flex;
  align-items: center;
  color: #902b2b;
  padding: 10px;
  border: solid 3px #902b2b;
  font-size: 20px;
  font-weight: 600;
  width: 270px;
  height: 60px;
  justify-content: center;
}

.knap svg {
  fill: #902b2b;
  padding-right: 5px;
}

.knap:hover svg {
  fill: white;
}

/*******************ANIMATION KEYFRAMES*************************/
/* ----------------------------------------------
 * Generated by Animista on 2022-12-8 15:35:56
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation pulsate-fwd
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-12-8 13:31:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    transform-origin: center;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    transform-origin: center;
  }
}
/*********NAV********************/

#menu {
  z-index: 2;
}

#menu-bar {
  width: 45px;
  height: 40px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: #902b2bd0;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar2 {
  width: 40px;
}

#bar3 {
  transform: translateY(4px);
}

.nav {
  transition: 0.3s ease;
  display: none;
}

.nav ul {
  padding: 0 22px;
}

.nav li {
  list-style: none;
  padding: 12px 0;
}

.nav li a {
  color: black;
  font-size: 20px;
  text-decoration: none;
}

.nav li a:hover {
  font-weight: bold;
}

.menu-bg,
#menu {
  top: 0;
  left: 0;
  position: fixed;
}

.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  background: url(https://grainy-gradients.vercel.app/noise.svg);
  background-color: #902b2b;
  border-radius: 50%;
  transition: 0.3s ease;
}

.change {
  display: block;
}

.change .bar {
  background-color: white;
}

.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
  width: 520px;
  height: 460px;
  transform: translate(-60%, -30%);
}
